<div class="outer-cont">
    <div class="inner-cont">
        <h1>Catálogo de Categorías:</h1>
        <button><a href="/categoria/new">Nueva</a></button>
        <ul>
            {{#each categorias as |c|}}
            <li>
                <strong>{{c.orden}} {{c.descripcion}}</strong>
                <a href="/categoria/edit/{{c._id}}"> Editar </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>