{{#if uno}}
<div class="card-outer-cont">
  {{#each denuncias as |denuncia|}}
  {{> denunciaCard denuncia}}
  {{/each}}
  <div id="search"></div>
  <div id='map' style='width: 400px; height: 300px;'></div>
</div>
{{/if}}
{{#unless uno}}
{{#each denuncias as |d|}}
{{> denunciaCard d}}
{{/each}}
{{/unless}}

<script>

  let lng = document.getElementById('coordinates').innerText.split(',')[0];
  let lat = document.getElementById('coordinates').innerText.split(',')[1];

  mapboxgl.accessToken =
    "pk.eyJ1IjoidG9tYXNmcmFuY2lzY29hciIsImEiOiJjanUwbHYzdGEzZ2piNDBwY2hsMWFrcG1nIn0.I9dBd93c-Yph7coxBiWO6A";

  let geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  });

  let map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/navigation-preview-day-v2",
    center: [lng, lat],
    zoom: 14
  });

  const marker = new mapboxgl.Marker()
    .setLngLat([lng, lat])
    .addTo(map)

  map.addControl(new mapboxgl.NavigationControl());

</script>