<div class="main">
  <h1 id="home-title">DENUNCIA<br><span>CHILANGA</span></h1>
  <button id="denuncia-btn"><a href="/generar-denuncia">HAZ TU DENUNCIA</a></button>
</div>

<div class="outer-cont">
  <div class="inner-cont">

    {{#if admin}}
    <div id="usuarios-categorias-cont">
      <button><a href="/users">Usuarios</a>
        <button><a href="/categoria">Categorias</a></button>
    </div>

    {{/if}}

    {{#unless home}}
    <br>
    <div class="signup-login">
      <div class="signup-login-int">
        <p>¿No tienes cuenta?</p><button><a href="/signup">Regístrate</a></button> <br><br>
      </div>
      <div class="signup-login-int">
        <p>¿Ya tienes cuenta?</p><button><a href="/login">Inicia Sesión</a></button>
      </div>
    </div>
    {{/unless}}

    {{#if home}}
    <button><a href="/logout">Salir</a></button>
    {{/if}}

  </div>
</div>