<div class="outer-cont">
  <div class="inner-cont">
    <h1>{{title}}</h1>

    {{#if home}}
    <h4>Bienvenido, {{nombre}} {{apellido}}</h4>
    {{/if}}

    {{#unless home}}
    <button><a href="/signup">Regístrate</a></button>
    <button><a href="/login">Inicia Sesion</a></button>
    {{/unless}}

    {{#if admin}}
    <button><a href="/users">Usuarios</a>
      <button><a href="/categoria">Categorias</a></button>

      {{/if}}

      <button><a href="/generar-denuncia">Levanta una denuncia</a></button>

      <button><a href="/mis-denuncias/{{id}}">Mis denuncias</a></button>

      {{#if home}}
      <button><a href="/logout">Salir</a></button>
      {{/if}}

  </div>
</div>