<div class="outer-cont">
  <h2>Mis denuncias!</h2>
  <div class="card-cont">
  {{#each denuncias as |denuncia|}}
  {{> denunciaCard denuncia}}
  {{/each}}
  </div>
</div>

<script>

  function colorStatus() {
    var status = document.getElementsByClassName('mis-denuncias-status');
    for (let i in status) {
      if (status[i].innerHTML == "Rechazada") {
        status[i].setAttribute('style', 'color: red');
      } else if (status[i].innerHTML == "Completada" || status[i].innerHTML == "Abierta"){
        status[i].setAttribute('style', 'color: green')
      } else if (status[i].innerHTML == "En Proceso"){
        status[i].setAttribute('style', 'color: yellow')
      };
    }
  };

  colorStatus();

</script>