<div class="outer-cont">
  <div class="inner-cont">
    <div class="unique-form">
      <form action="" method="POST" class="form-group">
        <div>
          <label for="">
            Orden:
            <input name="orden" value="{{orden}}" type="number">
          </label>
        </div>
        <div>
          <label for="">
            Descripción:
            <input name="descripcion" value="{{descripcion}}" style="text-transform:uppercase;"
              onkeyup="javascript:this.value=this.value.toUpperCase();">
          </label>
        </div>
        <div>
          <button type="submit">Guardar</button> <br><br>
          <a href="/categoria">Ver lista de categorias</a>
        </div>
      </form>
    </div>
  </div>
</div>