<script> 
function funcion(string){
  if (string == "folio"){ document.form.folio.disabled = false; 
                          document.form.fecha_ini.disabled = true; 
                          document.form.fecha_fin.disabled = true;
                          document.form.fecha_ini.value =null;
                          document.form.fecha_fin.value =null; } 
  if (string == "fecha"){ document.form.folio.disabled = true; 
                          document.form.fecha_ini.disabled = false; 
                          document.form.fecha_fin.disabled = false;
                          document.form.folio.value = null }; 
}; 
</script> 
<form name="form"> 
Buscar por Folio:
<input type="radio" name="busqueda" onclick="funcion('folio')" /> 
<input type="number" name="folio" disabled /> 
<div>Buscar por Fecha:
<input type="radio" name="busqueda" onclick="funcion('fecha')" /> 
<input type="date" name="fecha_ini" disabled /> 
<input type="date" name="fecha_fin" disabled /> 
</div>
 <div>
  <label for="categoria">Categoría</label>
  <select name="categoria" id="">
    <option value ='*' >Todas las categorías</option>
    {{#each categorias as |c|}}
    <option value="{{_id}}">{{descripcion}}</option>
    {{/each}}
  </select>
  </div>
  <div>
  <button type="submit" ><a>Buscar</a> </button>  
  </div>
</form>