* {
  margin: 0;
  padding: 0;
}

html {
}

body {
  font: 14px "Ubuntu Mono", monospace;
  background: url("../images/angel.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: black;
}

button {
  padding: 5px;
  border: none;
  background-color: #00b7ff;
  color: white;
  margin: 5px 0;
  width: 120px;
}

button > a {
  color: white;
}

.outer-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.inner-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  text-align: center;
  border-radius: 5px;
}

footer {
  background-color: white;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid grey;
}

footer p {
  margin: 5px 5px 5px 10px;
}

// navbar

.navbar a {
  font-size: 20px;
}

.welcome-user {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.welcome-user a {
  text-decoration: underline;
}

// index.hbs

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 10px;
  border-top: 1px dashed white;
}

.signup-login-int {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.signup-login-int p {
  margin: 0 10px 0 0;
}

#home-title {
  font-size: 60px;
  font-family: "Neucha", cursive;
  text-align: center;
  margin: 50px 0 20px 0;
}

#denuncia-btn {
  width: 50%;
  text-align: center;
  font-size: 30px;
  padding: 15px 0;
  background-color: rgba(69,183,248,0.99);
  border-radius: 5px;
}

#denuncia-btn a {
  font-size: 30px;
}

#usuarios-categorias-cont {
  margin-top: 5px;
  display: inline-block;
}

#usuarios-categorias-cont button {
  margin: 0 10px;
}

// formulario-denuncia.hbs

.formulario-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  margin-bottom: 100px;
}

.formulario-inner-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 5px 0;
}

.formulario-inner-cont input,
.formulario-inner-cont select,
.formulario-inner-cont textarea {
  width: 250px;
  line-height: 20px;
}

.formulario-inner-cont textarea {
  border: 1px solid lightgray;
}

.mapboxgl-ctrl-geocoder {
  width: 250px;
  margin-bottom: 10px;
}


#denuncia-btn {
  font-size: 20px;
}

// search.hbs

.unique-form {
  margin-top: 10px;
}

.inner-title {
  font-family: "Neucha", cursive;
  margin-top: 20px;
  text-align: center;
}

.search-inner {
  margin: 10px 0;
}

.card-outer-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
}

.card-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.card {
  width: 25%;
  margin: 10px;
}

// .card img {
//   width: auto;
//   max-width: 100%;
//   height: 100px;
//   max-height: 200px;
// }

.form-comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-contdos {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  background-color: rgba(15, 164, 201, 0.404);
  width: 80%;
  text-align: left;
}

.chart-outer-container {
  display: flex;
  justify-content: center;
}

.chart-container {
  width: 60%;
  background-color: rgba($color: #fff, $alpha: 0.9);
  border-radius: 5px;
}